{% extends 'layouts/base.html' %}
{% from 'macros.html' import csrf_field %}
{% block title %}Inscription Patient{% endblock %}
{% block page_heading %}Inscription{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="card p-4">
            <form method="POST">
                {{ csrf_field() }}
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label" for="prenom">Prénom</label>
                        <input class="form-control" id="prenom" name="prenom" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label" for="nom">Nom</label>
                        <input class="form-control" id="nom" name="nom" required>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Mot de passe</label>
                    <input type="password" class="form-control" id="password" name="password" required minlength="6">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="contact">Téléphone</label>
                    <input class="form-control" id="contact" name="contact" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="date_naissance">Date de naissance</label>
                    <input type="date" class="form-control" id="date_naissance" name="date_naissance" required>
                </div>
                <button class="btn btn-success w-100" type="submit">S'inscrire</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
